#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  padding: 10px;
}

.introText {
  width: 250px;
}

.main {
  display: flex;
  flex-direction: row;
}

.left {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  padding: 10px;
  margin: 5px;
}

.right {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  padding: 10px;
  margin: 5px;
}
